*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}

#logo-nav-bar
{
	width: 100%;
	min-height: 50px;
	background-color: grey;
	margin-bottom: 10px;
}

#logobar
{
	color: whitesmoke;
	width: 20%;
	min-height: 50px;
	background-color: none;
	float: left;
	line-height: 50px;
	padding-left: 2%;
}

#navbar
{
	color: whitesmoke;
	width: 80%;
	min-height: 50px;
	background-color: none;
	float: right;
	text-align: right;
	line-height: 50px;
	padding-right: 2%;
}


.clearfix::after
{
	content: "";
	display: block;
	clear: both;
}

#head-banner
{
	color: whitesmoke;
	width: 100%;
	min-height: 200px;
	background-color: grey;
	text-align: center;
	line-height: 200px;
	margin-bottom: 10px;
}

#mainbox-column
{
	width: 100%;
	min-height: 420px;
	background-color: none;
	margin-bottom: 10px;
	
}

#mainbox-column .box-column
{
	color: white;
	width: 30%;
	min-height: 420px;
	text-align: center;
	background-color: grey;
	float: left;
	line-height: 420px;
}

#mainbox-column .box-column:nth-child(2)
{
	margin-left: 5%;
	margin-right: 5%;
}

#footer
{
	width: 100%;
	min-height: 50px;
	color: white;
	background-color: grey;
	text-align: center;
	line-height: 50px;
}


#wrapper-div
{
	width: 100%;
	background-color: pink;
	margin: auto;
}